*{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(204, 43%, 93%);
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor{
    background-color: hsl(204, 43%, 93%);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.048);
    width: 700px;
    height: 550px;
    border-radius: 10px;
}

.contenedor2{
    display: flex;
    border-radius: 10px;
}

.primero{
    background-color:  white;
    width: 700px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titulo{
    font-family: 'Karla', sans-serif;
    color: hsl(179, 62%, 43%);
    font-size: 22px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 40px;
}

.subtitulo{
    font-family: 'Karla', sans-serif;
    color: hsl(71, 73%, 54%);
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 25px;
}

.descripcion{
    font-family: 'Karla', sans-serif;
    color: hsl(218, 22%, 67%);
    font-size: 16px;
    padding-left: 40px;
    padding-top: 25px;
    line-height: 25px;
}






.segundo{
    background-color: hsl(179, 62%, 43%);
    width: 350px;
    height: 300px;
    border-bottom-left-radius: 10px;
}

.titulo2{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 50px;
}

.precio{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 25px;
}

.pormes{
    font-family: 'Karla', sans-serif;
    color: hsla(203, 44%, 93%, 0.671);
    font-size: 18px;
    margin-left: 110px;
    margin-top: -30px;
}

.preciodesc{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 35px;
    padding-top: 25px;
}

.unete{
    display: inline-block;
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px 120px 15px 120px;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 5px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.068);
}





.tercero{
    background-color: hsl(179, 42%, 54%);
    width: 350px;
    height: 300px;
    border-bottom-right-radius: 10px;
}

.titulo3{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 50px;
}

.descripcion2{
    font-family: 'Karla', sans-serif;
    color: hsl(203, 44%, 93%);
    font-size: 14px;
    padding-top: 15px;
    line-height: 25px;
    width: 400px;
}

.lista{
    list-style-type: none;
    line-height: 23px;
    margin-left: -5px;
}



/* 375px Size */
@media (max-width: 375px){

    .contenedor{
        margin-top: 300px;
        width: 315px;
        height: 880px;
    }

    .contenedor2{
        flex-direction: column;
    }

    .primero{
        width: 315px;
        height: 310px;
       
    }

    .titulo{
        font-size: 15px;
        margin-left: -10px;
    }

    .subtitulo{
        font-size: 15px;
        margin-left: -10px;
    }

    .descripcion{
        font-size: 15px;
        margin-left: -10px;
        width: 320px;
    }

    .segundo{
        width: 315px;
        height: 270px;
        border-bottom-left-radius: 0px;
    }

    .titulo2{
        margin-left: -10px;
        margin-top: -20px;
    }

    .precio{
        margin-left: -10px;
    }
    
    .pormes{
        margin-left: 100px;
    }

    .preciodesc{
        margin-left: -10px;
        font-size: 14px;
    }

    .unete{
        margin-left: 15px;
    }

    .tercero{
        width: 315px;
        border-bottom-left-radius: 10px;
    }

}
